data/allsky_peak_masterlist.csv filter=lfs diff=lfs merge=lfs -text
data/allsky_almacal_masterlist.csv filter=lfs diff=lfs merge=lfs -text
data/allsky_masterlist.csv filter=lfs diff=lfs merge=lfs -text
